extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- name
        h1 Trevor Maltbie

        //- title
        p.lead.text-light
          | Software Engineer

        //- Elevator pitch.
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- List ten skills.
        ul
          li JavaScript
          li Node
          li Express
          li API
          li Pug
          li DOM Manipulation
          li Regular Expressions
          li Software & Hardware Troubleshooting
          li Critical Thinker 
          li Problem Solver
        h6 Contact Info

        //- contact info
        ul
          li 714-306-8276
          li trevormaltbie@gmail.com
          
        //- social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/trevor-m-70334434/') LinkedIn
        a.button.expanded(href='https://github.com/tmaltbie') GitHub
        a.button.expanded(href='https://twitter.com/trevorpage1287') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  