extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Trevor Maltbie

        p.lead.text-light
          | Software Engineer

        .portfolio-bio
          p
            | Eager and passionate programmer. Learning quickly and excited to tackle new problems. 
            | Strong ability to connect and understand others through excellent communication skills and empathy.
            | I am excited about learning new things and getting outside my comfort zone. Ardent about mentoring others to achieve their goals by challenging them to go further.
        
          h4 Experience
        .experience  
          h5 Technical Specialist, Apple Brea
            h6 2019 — Present
              ul
               li Software and hardware troubleshooting on mobile devices.
               li Showed empathy and ability to connect with customers about technology.
               li Worked together with team memebers to achieve store and market goals.

          h5 Specialist, Apple Pasadena
            h6 2015 — 2019
              ul
                li Educated customers about current technology.
                li Proactively discovered business opportunities.
                li Mentored colleagues to achieve professional goals.
          
          h4 Education
            h6 Principia College, 2007-2011
              p English Literature
          


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li HTML
          li CSS
          li JavaScript
          li Node
          li Express
          li Pug
          li React
          li Software & Hardware Troubleshooting
          li Software Development Life Cycle
          li Critical Thinking
          

        h6 Interests

        ul
          li Swift
          li Python
          li Artificial Intelligence

        h6 Competencies

        ul
          li Dealing with Ambiguity
          li Action Oriented
          li Learning on the Fly
          li Technical Learning

        h6 Contact Info

        ul
          li 714-306-8276
          li trevormaltbie@icloud.com
          
        a.button.expanded(href='https://www.linkedin.com/in/trevormaltbie/') LinkedIn
        a.button.expanded(href='https://github.com/tmaltbie') GitHub
        a.button.expanded(href='https://twitter.com/trevorpage1287') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  