extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- name
        h1 Trevor Maltbie

        //- title
        p.lead.text-light
          | Software Engineer

        //- Elevator pitch.
        .portfolio-bio
          p
            | Reliable, outgoing, and enthusiastic individual. Strong ability to connect and understand others about technology through excellent communication skills and empathy.
            | I am passionate about learning new things, building relationships, and getting outside my comfort zone. I enjoy coaching and mentoring others to achieve their goals by challenging them to go further.
            | Excited to work in an environment where developing world-changing applications that people cannot live without is the standard.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li HTML
          li CSS
          li JavaScript
          li Node
          li Express
          li Pug
          li Software & Hardware Troubleshooting
          li Software Development Life Cycle
          li Critical Thinking
          li Problem Solving

        h6 Studying

        ul
          li Swift
          li React
          li Python
          li Automation

        h6 Contact Info

        //- contact info
        ul
          li 714-306-8276
          li trevormaltbie@icloud.com
          
        a.button.expanded(href='https://www.linkedin.com/in/trevormaltbie/') LinkedIn
        a.button.expanded(href='https://github.com/tmaltbie') GitHub
        a.button.expanded(href='https://twitter.com/trevorpage1287') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  