extends layout
block content
  div.error
    p
      h4= `${error.message} - `
        b= error.status
      if error.status === 500
        h5 That's an Error. 
          p go back and try something else.
      if error.status === 404
        h5= `The requested URL was not found on this server.`
          nav.grid-container.portfolio-breadcrumb
            a(href='/') ← Back