extends layout
block content
  div.error
    h2= `Server Error`
    h3= `Error status code: ${err.status} - Server Error`
    h5= `${err.message}`
    nav.portfolio-breadcrumb
          a(href='/') â† Back
    br
    br
    pre= `${err.stack}`