extends layout
block content
  div.error
    h2= `${err.status} - Page Not Found`
    p= `The requested URL ${path} was not found on this server.`
    p= `${err.message}`
    nav.portfolio-breadcrumb
      a(href='/') â† Back
    pre= `${err.stack}`

        