extends layout
block content
  section.error
    p
      h4= `${error.message} - `
        b= error.status
        h5= `The requested URL ${path} was not found on this server.`
          nav.grid-container.portfolio-breadcrumb
            a(href='/') â† Back