@import url('https://fonts.googleapis.com/css?family=Dosis');

h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #478043;  
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

/* Error Templates */
.error {
  max-width: 100%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.error h2, h3 {
  margin-bottom: 1.5rem;
}

.error pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* index projects overlay */
.projects {
  position: relative;
}

.overlay {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99b898;
  /* background-color: #478043; */
  width: 100%;
  height: 98%;
  left: 0;
  top: 0;
  padding: 15px;
  transition: opacity 0.5s
}

.projects:hover .overlay {
  opacity: .9;
}

.cell .overlay h5 {
  position: absolute;
  color: #262626;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  text-transform: uppercase;
}

/* layout quote */
.quote {
  padding-top: 2.5rem;
  font-style: italic;
}

.projects img {
 width: 500px;
 height: 195px; 
}
